*.rbc
*.gem
*.swp
.DS_Store
.bundle
.config
.yardoc
.yarn-integrity
.yarn-metadata.json
node_modules/
vendor/bundle/
vendor/cache/
vendor/gems/
vendor/ruby/

log/*.log
log/*.pid
log/*.out
tmp/

.idea/

